{include file="public/header" /}
<style>
    select.input-sm{
        height: 35px;
        line-height: 35px;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>订单列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->

            <form class="form-inline" method="post" action="{:url('index')}">

                <div class="form-group">
                    <label class="font-noraml">订单号：</label>
                    <input type="text" class="form-control" id="order_sn" name="order_sn" value="{$parameter['order_sn']}" placeholder="输入需查询的订单号" style="width: 150px;" />
                    <label class="font-noraml">条码号：</label>
                    <input type="text" class="form-control" id="bar_code" name="bar_code" value="{$parameter['bar_code']}" placeholder="输入需查询的条码号" style="width: 150px;" />

                    <label class="font-noraml">下单用户：</label>
                    <input type="text" class="form-control" name="username" id="username" value="{$parameter['username']}" placeholder="输入需查询的下单用户名" style="width: 150px;"/>

                    <label class="font-noraml">订单状态：</label>
                    <div class="input-daterange input-group">
                        <select id="status" class="chosen-select input-sm form-control input-s-sm inline" name="status">
                            <option value="0">全部</option>
                            <option value="1" {if condition="$parameter['status'] eq 1"}selected{/if}>未上门</option>
                            <option value="2" {if condition="$parameter['status'] eq 2"}selected{/if}>未称重</option>
                            <option value="3" {if condition="$parameter['status'] eq 3"}selected{/if}>已完成</option>
                            <option value="4" {if condition="$parameter['status'] eq 4"}selected{/if}>已取消</option>
                        </select>
                    </div>
                    <label class="font-noraml">下单时间</label>
                        <div class="input-daterange input-group">
                            <input type="text" class="input-sm form-control" autocomplete="off" id="start_time" name="start_time" value="{$parameter['start_time']}" style="width: 160px;"/>
                            <span class="input-group-addon">到</span>
                            <input type="text" class="input-sm form-control" autocomplete="off" id="end_time" name="end_time" value="{$parameter['end_time']}" style="width: 160px;"/>
                        </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;

                    </div>
                </div>

            </form>

            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>
               <div class="row">
                    <div class="col-sm-10">
                    <button type="button" class="btn btn-outline btn-primary">总订单量：{$count}</button>
                    <button type="button" class="btn btn-outline btn-primary">今日订单量：{$day_order}</button>
                    <button type="button" class="btn btn-outline btn-primary">今日已完成订单量：{$day_order_succ}</button>
                     </div>
                </div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="long-tr">
                            <th>id</th>
                            <th>订单号</th>
                            <th>下单用户</th>
                            <th>订单总价</th>
                            <th>下单时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){ }}
                            <tr class="long-td">
                                <td>{{d[i].id}}</td>
                                <td>{{d[i].order_sn}}</td>
                                <td>{{d[i].username}}</td>
                                <td>{{d[i].totalmoney}}</td>
                                <td>{{d[i].create_time}}</td>
                                <td>
                                    {{# if(d[i].status==1){ }}
                                    未上门
                                    {{# }else if(d[i].status==2){ }}
                                    未称重
                                    {{# }else if(d[i].status==3){　}}
                                    已完成
                                    {{# }else{ }}
                                    已取消
                                    {{# }}}
                                </td>
                                <td>
                                    <a title="查看详情" class="btn btn-info" rel="{{d[i].id}}" href="{:url('Order/show')}?id={{d[i].id}}" >
                                        <i class="fa fa-paste"></i> 查看详情
                                    </a>
                                </td>
                            </tr>
                            {{# }}}
                        </script>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>
{include file="public/footer" /}
<script src="../../static/admin/js/laydate/laydate.js"></script>
<script>
        //常规用法
        laydate.render({
            elem: '#start_time',
            type:'datetime'
        });
        //常规用法
        laydate.render({
            elem: '#end_time',
            type:'datetime'
        });

    //laypage分页
    var order_sn=$("#order_sn").val();
    var username=$("#username").val();
    var status=$("#status").val();
    var end_time=$("#end_time").val();
    var start_time=$("#start_time").val();
    var bar_code=$("#bar_code").val();
    var searchObj={order_sn:order_sn,username:username,status:status,start_time:start_time,end_time:end_time,bar_code:bar_code};
    Ajaxpage(1,'{:url("Order/index")}',"{$allpage}",searchObj);
</script>
</body>
</html>