{include file="public\header"/}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal" method="post" id="signupForm" action="{:url('Role/edit')}">
                    <input type="hidden" name="id" value="{$info['id']}"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="title" class="form-control" value="{$info['title']}">
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>

                        <div class="col-sm-10">
                            <div class="radio i-checks">
                                <input type="radio" name='status' value="1" {if condition="$info['status'] eq 1"}checked="checked"{/if}/>开启&nbsp;&nbsp;
                                <input type="radio" name='status' value="0" {if condition="$info['status'] eq 0"}checked="checked"{/if}/>关闭
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit">保存内容</button>
                            <a href="{:url('Role/index')}" style="color: inherit;background: #fff;border: 1px solid #e7eaec;margin-bottom: 5px;border-radius: 3px;display: inline-block;padding: 6px 12px;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;touch-action: manipulation;cursor: pointer;">取消</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{include file="public\footer"/}
</body>

</html>