{include file="public/header"/}
<body>
<div class=" manback" style="background: url('__IMG__/bing.png') no-repeat center;">
    <div class="activity">
        <img src="__IMG__/zhishidabipin.png"/>
    </div>
    <div class="btnc">
        <a href="{:url('Activity/topic')}" class="a btnred">立即答题</a>
    </div>
    <div class="btnc">
        <a href="{:url('Activity/ranking')}" class="a btngray">区域排名</a>
    </div>
    <div class="a">
        <a href="{:url('Activity/explain',array('pid'=>1))}">活动说明></a>
    </div>
</div>
</body>
</html>